# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/app/dist
/app/tmp
/app/out-tsc

# dependencies
/app/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*

# misc
/app/.sass-cache
/app/connect.lock
/app/coverage
/app/libpeerconnection.log
/app/npm-debug.log
/app/yarn-error.log
/app/testem.log
/typings
/app/package-lock.json

# System Files
.DS_Store
Thumbs.db
